/* Links */
a,
a:focus,
a:hover {
  color: #333;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #333;
  border: .05rem solid #333;
}

/*
 * Base structure
 */

html,
body {
  background-color: #fff;
}
body {
  color: #333;
}

.site-wrapper {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav-masthead .nav-link {
  color: rgba(33,33,33,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(33,33,33,.25);
}

.nav-masthead .active {
  color: #333;
  border-bottom-color: #333;
}

.social-button {
    margin-bottom: .5rem;
}

@media (max-width: 40em) {
    .site-logo {
        display: none;
    }
}

